h1{
    background-color: silver;
}
h1,p{
    margin: 0;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.a{
    background-color: rgb(45, 131, 197);
}
.b{
    background-color: rgba(45, 131, 197, 0.797);
}
.c{
    background-color: rgba(45, 131, 197, 0.639);
}
.d{
    background-color: rgba(45, 131, 197, 0.582);
}
.e{
    background-color: rgba(45, 131, 197, 0.489);
}
.f{
    background-color: rgba(45, 131, 197, 0.386);
}
.g{
    background-color: rgba(45, 131, 197, 0.244);
}
.h{
    background-color: rgb(26, 181, 133);
}
.i{
    background-color: rgba(239, 57, 127, 0.18) ;
}
.j{
    background-color: rgba(239, 57, 127, 0.292);
}
.k{
    background-color: rgba(239, 57, 127, 0.468);
}
.l{
    background-color: rgba(239, 57, 127, 0.518);
}
.m{
    background-color: rgba(239, 57, 127, 0.66);
}
.n{
    background-color: rgba(239, 57, 127, 0.893);
}
.o{
    background-color: rgb(239, 57, 128);
}